Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-words, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|RST|PyLint

disallow-words:
  name: Disallow certain words
  language: pygrep
  entry: '[Ff]alsey'

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

Add macos-15-intel for repo
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
Due: disallow-caps, disallow-words

chore: add TOMLMatcher helper
  .pre-commit-config.yaml
  docs/pages/guides/docs.md
  docs/pages/guides/tasks.md
  helpers/cog_helpers.py
  pyproject.toml
Due: disallow-caps, disallow-words, cog

fix: match example with cookiecutter output
  .pre-commit-config.yaml
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_compiled.md
  helpers/cog_helpers.py
Due: disallow-caps, disallow-words, cog

ci: add CI for macos-15-intel images (#712)
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: disallow-caps, disallow-words

Apply suggestion from @henryiii
  docs/_includes/pyproject.md
Due: disallow-caps, disallow-words

fix: match cookiecutter output with new TOMLMatcher (#714)
  .pre-commit-config.yaml
  docs/_includes/pyproject.md
  docs/pages/guides/docs.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/tasks.md
  helpers/cog_helpers.py
  pyproject.toml
Due: disallow-caps, disallow-words, cog

docs: mention names of modules
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_compiled.md
Due: disallow-caps, disallow-words, cog

fix: modernize Rust example, and render into docs
  docs/pages/guides/packaging_compiled.md
  helpers/cog_helpers.py
  {{cookiecutter.project_name}}/src/{% if cookiecutter.backend=='maturin' %}lib.rs{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
Due: disallow-caps, disallow-words, cog

fix: drop one unneeded line
  docs/pages/guides/packaging_compiled.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words, cog

fix: use modern hatch test and dependency-groups
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

fix: modern PyO3 example, better compiled docs (#715)
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_compiled.md
  helpers/cog_helpers.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{% if cookiecutter.backend=='maturin' %}lib.rs{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
Due: disallow-caps, disallow-words, cog

fix: use modern hatch test and dependency-groups (#716)
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

docs: add notes at top of page, update REAMDE
  README.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/packaging_simple.md
Due: disallow-caps, disallow-words, cog

docs: add notes at top of page, update REAMDE (#717)
  README.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/packaging_simple.md
Due: disallow-caps, disallow-words, cog

fix: follow noxfile recommendation NOX201
  {{cookiecutter.project_name}}/noxfile.py
Due: none

fix: follow noxfile recommendation NOX201, NOX202, NOX203 (#720)
  {{cookiecutter.project_name}}/noxfile.py
Due: none

feat: add badge for code coverage
  README.md
  {{cookiecutter.project_name}}/README.md
Due: disallow-caps, disallow-words

docs: add typos in a tab, use it for our checking
  .pre-commit-config.yaml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  docs/pages/principles/testing.md
  pyproject.toml
Due: disallow-caps, disallow-words, cog

chore: use pytest 9+, default to that
  docs/_includes/pyproject.md
  docs/pages/guides/pytest.md
  docs/pages/principles/testing.md
  pyproject.toml
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

feat: support gitlab in codecov badge
  {{cookiecutter.project_name}}/README.md
Due: none

feat: add badge for code coverage (#722)
  README.md
  {{cookiecutter.project_name}}/README.md
Due: disallow-caps, disallow-words

chore: use pytest 9+, default to that (#725)
  docs/_includes/pyproject.md
  docs/pages/guides/pytest.md
  docs/pages/principles/testing.md
  pyproject.toml
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

docs: add typos in a tab, use it for our checking (#724)
  .pre-commit-config.yaml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  docs/pages/principles/testing.md
  pyproject.toml
Due: disallow-caps, disallow-words, cog

docs: use and mention ubuntu-slim for small tasks
  .github/workflows/docs-link.yml
  .github/workflows/reusable-change-detection.yml
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

docs: use and mention ubuntu-slim for small tasks (#729)
  .github/workflows/docs-link.yml
  .github/workflows/reusable-change-detection.yml
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

ci: avoid pdm broken on PyPy
  noxfile.py
Due: disallow-caps, disallow-words

ci: avoid pdm broken on PyPy (#732)
  noxfile.py
Due: disallow-caps, disallow-words

fix: Add missing leading `#` sp-repo-review's NOX201 example
  src/sp_repo_review/checks/noxfile.py
Due: disallow-caps, disallow-words

fix: Add missing leading `#` to sp-repo-review's NOX201 example (#731)
  src/sp_repo_review/checks/noxfile.py
Due: disallow-caps, disallow-words

Update typos hook version to v1.41.0
  .pre-commit-config.yaml
Due: none

Add Zensical
  README.md
  cookiecutter.json
  copier.yml
  noxfile.py
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}index.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}markdown.md{% endif %}
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: disallow-caps, disallow-words, cog

Update Zensical config
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}index.md{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: none

RTD fix indentation
  {{cookiecutter.project_name}}/.readthedocs.yaml
Due: none

Fix Zensical RTD build
  {{cookiecutter.project_name}}/.readthedocs.yaml
Due: none

Update ordering
  cookiecutter.json
  copier.yml
Due: disallow-caps, disallow-words, cog

ci: add zensical
  .github/workflows/reusable-cookie.yml
  cookiecutter.json
Due: disallow-caps, disallow-words

Formatting
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}index.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}markdown.md{% endif %}
Due: none

Formatting
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: none

Add Zensical documentation option (#738)
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  noxfile.py
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}index.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}markdown.md{% endif %}
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: disallow-caps, disallow-words, cog

ENH: allow tox.toml in rule `PY007`
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps, disallow-words

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  disallow-words: any of: not (.pre-commit-config.yaml$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks|gha_basic).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
