Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/psf/black
    rev: "23.7.0"
    hooks:
      - id: black-jupyter

  - repo: https://github.com/asottile/blacken-docs
    rev: "1.15.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.7.0]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.0.277"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.4.1"
    hooks:
      - id: mypy
        files: "(src|tests)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - repo-review
          - rich
          - tomli
          - types-PyYAML

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.5"
    hooks:
      - id: codespell
        exclude: ^Gemfile\.lock$
        args: ["-Lnd"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs).md|^copier.yml"
        additional_dependencies: [cogapp, cookiecutter]

docs: exectutable update (#262)
  docs/pages/guides/docs.md
Due: disallow-caps, cog

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

fix: use pycon/ipython when needed
  docs/pages/patterns/data_files.md
  docs/pages/principles/design.md
  docs/pages/tutorials/docs.md
  docs/pages/tutorials/module.md
  docs/pages/tutorials/packaging.md
  docs/pages/tutorials/test.md
Due: disallow-caps

fix: update furo and sphinx minimums
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}setup.cfg{% endif %}
Due: none

docs: fix encoding; clarify example is for setup.cfg
  docs/pages/patterns/data_files.md
Due: disallow-caps

docs: fix encoding; clarify example is for setup.cfg (#266)
  docs/pages/patterns/data_files.md
Due: disallow-caps

fix: look for either yml/yaml for GHA
  src/sp_repo_review/checks/github.py
Due: disallow-caps

fix: look for either yml/yaml for GHA (#268)
  src/sp_repo_review/checks/github.py
Due: disallow-caps

fix: add validate-pyproject to checks
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

fix: blacken docs renamed
  .pre-commit-config.yaml
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: blacken docs renamed (#269)
  .pre-commit-config.yaml
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: add validate-pyproject to checks (#270)
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: bump to latest repo review
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: bump repo-review
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

docs: update for rename of blacken-docs
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

docs: update for rename of blacken-docs (#271)
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

fix: correct suggestion for RtD
  src/sp_repo_review/checks/readthedocs.py
Due: disallow-caps

fix: add more examples to error messages
  docs/_includes/interactive_repo_review.html
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

fix: correct suggestion for RtD (#272)
  src/sp_repo_review/checks/readthedocs.py
Due: disallow-caps

fix: add more examples to error messages (#273)
  docs/_includes/interactive_repo_review.html
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

[create-pull-request] automated change
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

docs: Update binary projects recommendation to scikit-build
  README.md
Due: disallow-caps

Fix typos
  docs/pages/index.md
Due: disallow-caps

Remove statement about CPython 3.13 docs and fix typos
  docs/pages/guides/docs.md
Due: disallow-caps, cog

Fix typos (#278)
  docs/pages/index.md
Due: disallow-caps

Remove statement about CPython 3.13 docs and fix typos (#279)
  docs/pages/guides/docs.md
Due: disallow-caps, cog

docs: Update binary projects recommendation to scikit-build (#277)
  README.md
Due: disallow-caps

fix: cd file has an error for non-compiled projects
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
Due: none

fix: cd file has an error for non-compiled projects (#282)
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
Due: none

chore: prepare for release 2023.09.21
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

docs(sp-repo-review): fix suggestion
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

docs(sp-repo-review): fix suggestion (#287)
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

chore: fix typos, autofix, and update versions
  .pre-commit-config.yaml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  docs/pages/patterns/exports.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

Fix broken link
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

Better link for tutorial
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none
