Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

fix: consider the prettier mirror a rename now
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: consider the prettier mirror a rename now (#476)
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: support for Ruff 0.6
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

tests: check for default encoding issues
  .github/workflows/reusable-rr-tests.yml
  noxfile.py
Due: disallow-caps

fix: support for Ruff 0.6 (#475)
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

fix: remove generated files from pre-commit checks
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

chore: use 3.12 more places, add 3.13
  .devcontainer/devcontainer.json
  action.yml
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/tasks.md
  docs/pages/tutorials/dev-environment.md
  src/sp_repo_review/checks/readthedocs.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}setup.cfg{% endif %}
Due: disallow-caps, cog

tests: check for default encoding issues (#474)
  .github/workflows/reusable-rr-tests.yml
  noxfile.py
Due: disallow-caps

fix: remove generated files from pre-commit checks (#477)
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

chore: use 3.12 more places, add 3.13 (#478)
  .devcontainer/devcontainer.json
  action.yml
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/tasks.md
  docs/pages/tutorials/dev-environment.md
  src/sp_repo_review/checks/readthedocs.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}setup.cfg{% endif %}
Due: disallow-caps, cog

docs: bump pyodide version
  docs/_includes/head_custom.html
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

docs: bump pyodide version (#479)
  docs/_includes/head_custom.html
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

docs: minor cleanup for change that didn't help
  docs/_includes/head_custom.html
Due: disallow-caps

docs: prepare for 2023.08.19
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

docs: update docs session arguments in CONTRIBUTING.md
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

docs: update docs session arguments in CONTRIBUTING.md (#484)
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

fix: support .yaml for dependabot too
  src/sp_repo_review/checks/github.py
Due: disallow-caps

fix: support .yaml for dependabot too (#486)
  src/sp_repo_review/checks/github.py
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

ci: use GitHub App to make PRs
  .github/workflows/bump.yml
Due: disallow-caps

ci: use GitHub App to make PRs (#490)
  .github/workflows/bump.yml
Due: disallow-caps

ci: sign commits
  .github/workflows/bump.yml
Due: disallow-caps

ci: use uv (faster) for bump job
  .github/workflows/bump.yml
Due: disallow-caps

ci: use astral-sh/setup-uv
  .github/workflows/reusable-cookie.yml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/tasks.md
Due: disallow-caps, cog

ci: add to path
  .github/workflows/reusable-cookie.yml
Due: disallow-caps

ci: use astral-sh/setup-uv (#493)
  .github/workflows/reusable-cookie.yml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/tasks.md
Due: disallow-caps, cog

feat: Use pipx to run id
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

feat: Use Trusted Publishers with GitLab CI/CD
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

Add required id_tokens
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

fix: add pixi support for PY007
  README.md
  src/sp_repo_review/checks/general.py
Due: disallow-caps

tests: add general tests
  pyproject.toml
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps

fix: add pixi support for PY007 (#497)
  README.md
  pyproject.toml
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps

docs: setup-micromamba action mention
  docs/pages/guides/gha_basic.md
Due: disallow-caps

docs: setup-micromamba action mention (#499)
  docs/pages/guides/gha_basic.md
Due: disallow-caps

feat: upper cap check
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/packaging_simple.md
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/ruff.py
  tests/test_pyproject.py
Due: disallow-caps

feat: upper cap check (#501)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/packaging_simple.md
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/ruff.py
  tests/test_pyproject.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
