Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: "quarterly"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.16.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.*]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.9"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1"
    hooks:
      - id: mypy
        files: "(src|tests)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - repo-review
          - rich
          - tomli
          - types-PyYAML

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.6"
    hooks:
      - id: codespell
        exclude: ^Gemfile\.lock$
        args: ["-Lnd", "-w"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml"
        additional_dependencies: [cogapp, cookiecutter]

chore: drop whey
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/index.md
  docs/pages/guides/packaging_simple.md
  docs/pages/index.md
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, cog

Update copier.yml
  copier.yml
Due: disallow-caps, cog

chore: drop whey (#503)
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/index.md
  docs/pages/guides/packaging_simple.md
  docs/pages/index.md
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, cog

chore: support uv run
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

Update {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

chore: support uv run (#502)
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

chore: modernize pybind11
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}MANIFEST.in{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.cfg{% endif %}
Due: none

chore: modernize pybind11 (#505)
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}MANIFEST.in{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.cfg{% endif %}
Due: none

feat: drop Python <3.9
  .github/workflows/reusable-cookie.yml
  README.md
  docs/_includes/pyproject.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  tests/packages/ruff_extend/ruff.toml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.cfg{% endif %}
Due: disallow-caps, cog

feat: drop Python <3.9 (#507)
  .github/workflows/reusable-cookie.yml
  README.md
  docs/_includes/pyproject.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  tests/packages/ruff_extend/ruff.toml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.cfg{% endif %}
Due: disallow-caps, cog

chore: drop classic setuptools
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/index.md
  docs/pages/index.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='pybind11' %}MANIFEST.in{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.cfg{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.py{% endif %}
Due: disallow-caps, cog

chore: drop classic setuptools (#508)
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/index.md
  docs/pages/index.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='pybind11' %}MANIFEST.in{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.cfg{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='setuptools' %}setup.py{% endif %}
Due: disallow-caps, cog

refactor: setuptools621 -> setuptools
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
Due: disallow-caps, cog

Apply suggestions from code review
  README.md
  cookiecutter.json
  copier.yml
Due: disallow-caps, cog

refactor: setuptools621 -> setuptools (#509)
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
Due: disallow-caps, cog

ci: don't include scientific-python-pr-tokenbot in changelog gen
  .github/release.yml
Due: disallow-caps

ci: one more exclusion for changelog gen
  .github/release.yml
Due: disallow-caps

fix: line spacing
  cookiecutter.json
  copier.yml
Due: disallow-caps, cog

fix: line spacing (#511)
  cookiecutter.json
  copier.yml
Due: disallow-caps, cog

fix: don't set license.file
  docs/_includes/pyproject.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

docs: mention issue with flit-core
  docs/pages/guides/packaging_simple.md
Due: disallow-caps

chore: remove a few more references to Python 3.8
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

chore: sort Ruff listings
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: don't set license.file (#512)
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_simple.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

chore: remove a few more references to Python 3.8 (#513)
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

chore: sort Ruff listings (#514)
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Stricter test for "docs" folder
  src/sp_repo_review/checks/general.py
Due: disallow-caps

Stricter checks for existence of "tests" directory
  src/sp_repo_review/checks/general.py
Due: disallow-caps

Updated directory name "test" => "tests" in test_py005_src test.
  tests/test_general.py
Due: disallow-caps

Slightly more lenient check for "tests" directory. Also added some extra unit tests for the Py004 and Py005 checks.
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps

fix: stricter check for "tests" and "docs" directories in sp-repo-review (#527)
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps

docs: move sigstore mention
  docs/pages/guides/gha_basic.md
Due: disallow-caps

docs: move sigstore mention (#529)
  docs/pages/guides/gha_basic.md
Due: disallow-caps

feat: update Poetry to 2.0+ and PEP 621
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: support Poetry 2's VIRTUAL_ENV change
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

chore: bump schema-store
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

feat: update Poetry to 2.0+ and PEP 621 (#534)
  docs/_includes/interactive_repo_review.html
  docs/pages/guides/docs.md
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, cog

chore: bump webapp & README
  README.md
  docs/_includes/interactive_repo_review.html
Due: disallow-caps
