Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: "quarterly"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.16.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.*]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.9"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1"
    hooks:
      - id: mypy
        files: "(src|tests)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - repo-review
          - rich
          - tomli
          - types-PyYAML

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.6"
    hooks:
      - id: codespell
        exclude: ^Gemfile\.lock$
        args: ["-Lnd", "-w"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml"
        additional_dependencies: [cogapp, cookiecutter]

chore: bump webapp & README (#539)
  README.md
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

docs: bump pinned versions
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: fix webapp version
  docs/_includes/head_custom.html
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: ignore hep for scikit-hep repos
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

Apply suggestions from code review
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

docs: update mention of ignores
  README.md
Due: disallow-caps

Update README.md
  README.md
Due: disallow-caps

docs: update mention of ignores (#544)
  README.md
Due: disallow-caps

feat: add readthedocs config check
  README.md
  docs/pages/guides/docs.md
  pyproject.toml
  src/sp_repo_review/checks/readthedocs.py
  tests/test_readthedocs.py
Due: disallow-caps, cog

feat: add readthedocs config check (#545)
  README.md
  docs/pages/guides/docs.md
  pyproject.toml
  src/sp_repo_review/checks/readthedocs.py
  tests/test_readthedocs.py
Due: disallow-caps, cog

fix: add tick marks around a filename
  src/sp_repo_review/checks/readthedocs.py
Due: disallow-caps

docs: update webapp for repo-review 0.12.1
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
Due: disallow-caps

chore: add pylint to CI and fix issues
  .github/workflows/reusable-rr-tests.yml
  .ruby-version
  src/sp_repo_review/_compat/importlib/resources/abc.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/families.py
Due: disallow-caps

Update ruff.py
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

chore: add pylint to CI and fix issues (#547)
  .github/workflows/reusable-rr-tests.yml
  .ruby-version
  src/sp_repo_review/_compat/importlib/resources/abc.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/families.py
Due: disallow-caps

ci: split up Poetry run
  .github/workflows/reusable-cookie.yml
Due: disallow-caps

ci: skip PyPy + Poetry
  .github/workflows/reusable-cookie.yml
Due: disallow-caps

Add check that Deprecated Trove classifiers are not used.
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

fix: add to docs and narrower check
  README.md
  docs/_includes/pyproject.md
  src/sp_repo_review/checks/pyproject.py
  tests/packages/ruff_extend/ruff.toml
  tests/test_pyproject.py
Due: disallow-caps

fix: add to docs and narrower check
  docs/_includes/pyproject.md
Due: disallow-caps

Add check that Deprecated Trove classifiers are not used. (#553)
  README.md
  docs/_includes/pyproject.md
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
  tests/packages/ruff_extend/ruff.toml
  tests/test_pyproject.py
Due: disallow-caps

tests: avoid broken copier
  noxfile.py
Due: disallow-caps

tests: avoid broken copier (#555)
  README.md
  noxfile.py
Due: disallow-caps

chore: pull in latest repo-review
  docs/_includes/head_custom.html
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
Due: disallow-caps

chore: pull in latest repo-review (#558)
  docs/_includes/head_custom.html
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
Due: disallow-caps

fix: bump pins to work on latest Ruby
  Gemfile
  Gemfile.lock
Due: disallow-caps

fix: bump pins to work on latest Ruby (#559)
  Gemfile
  Gemfile.lock
Due: disallow-caps

Update PC180 with the new repo for mdformat
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

ISC rules do not conflict with the formatter anymore
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

ISC rules do not conflict with the formatter anymore (#564)
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

Update PC180 (Uses a markdown formatter) with the new repo for mdformat (hukkin/mdformat) (#562)
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: use -e in more places in the noxfile
  {{cookiecutter.project_name}}/noxfile.py
Due: none

Update noxfile.py
  {{cookiecutter.project_name}}/noxfile.py
Due: none

fix: use -e in more places in the noxfile (#567)
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

docs: add ipykernel to docs
  docs/pages/guides/docs.md
Due: disallow-caps, cog

docs: add ipykernel to docs (#569)
  docs/pages/guides/docs.md
Due: disallow-caps, cog

docs: mention other guides
  docs/pages/index.md
Due: disallow-caps
