Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

docss: move repo review up a page
  docs/pages/guides/repo_review.md
Due: disallow-caps

fix: error if both target-version and project.requires-python are set, too
  docs/pages/guides/repo_review.md
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

fix: error if both target-version and project.requires-python are set (#383)
  docs/pages/guides/repo_review.md
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

docss: move repo review up a page (#381)
  docs/pages/guides/repo_review.md
Due: disallow-caps

Switch from black to ruff formatter in README.md
  README.md
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, cog

Switch from black to ruff formatter in README.md (#385)
  README.md
Due: disallow-caps

chore: update style for ruff 0.3
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
Due: none

chore: remove another missing docstring check
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: allow patch versions in min version
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

fix: allow minversion to contain patch version
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

Apply suggestions from code review
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

fix: allow patch versions in min version (#388)
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

chore: bump versions for release
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: update format
  {{cookiecutter.project_name}}/src/{% if cookiecutter.backend in ['pybind11','skbuild','mesonpy'] %}main.cpp{% endif %}
Due: none

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

docs: fix typo
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

docs: fix typo (#392)
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

ci: try using a bit of uv
  .github/workflows/reusable-cookie.yml
  noxfile.py
Due: disallow-caps

chore: use uv if available in noxfile
  {{cookiecutter.project_name}}/noxfile.py
Due: none

docs: add mentions of uv and pixi
  docs/pages/guides/gha_basic.md
  docs/pages/guides/tasks.md
  docs/pages/tutorials/dev-environment.md
Due: disallow-caps, cog

Update docs/pages/tutorials/dev-environment.md
  docs/pages/tutorials/dev-environment.md
Due: disallow-caps

ci: use uv, require recent nox (#394)
  .github/workflows/reusable-cookie.yml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/tasks.md
  docs/pages/tutorials/dev-environment.md
  noxfile.py
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

fix(rr): pytest takes ints and floats
  src/sp_repo_review/checks/pyproject.py
  tests/test_checks.py
Due: disallow-caps

fix(rr): pytest takes ints and floats (#398)
  src/sp_repo_review/checks/pyproject.py
  tests/test_checks.py
Due: disallow-caps

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

ci: copier pyyaml-include issue
  README.md
  noxfile.py
Due: disallow-caps

ci: copier pyyaml-include issue (#399)
  README.md
  noxfile.py
Due: disallow-caps

[create-pull-request] automated change
  docs/pages/guides/coverage.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

Revert "ci: copier pyyaml-include issue (#399)"
  README.md
  noxfile.py
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

Revert "ci: copier pyyaml-include issue" (#402)
  README.md
  noxfile.py
Due: disallow-caps

docs: fix typo
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

docs: fix typo newly found by codespell
  docs/pages/guides/style.md
Due: none

docs: fix typo (#406)
  docs/pages/guides/style.md
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, cog

fix: correct logic for RF002
  src/sp_repo_review/checks/ruff.py
  tests/test_ruff.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
