Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

chore: add validate-pyproject-schema-store
  docs/_includes/interactive_repo_review.html
  docs/pages/guides/style.md
  noxfile.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

fix: use quotes
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

fix: fix hatch def error from validate-pyproject-schema-store
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

chore: add validate-pyproject-schema-store (#364)
  docs/_includes/interactive_repo_review.html
  docs/pages/guides/style.md
  noxfile.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: move remaining readthedocs to yaml ext
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}MANIFEST.in{% endif %}
Due: disallow-caps, cog

docs: standardize .reathedocs.yml to .readthedocs.yaml (#361)
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}MANIFEST.in{% endif %}
Due: disallow-caps, cog

chore: bump sp-repo-review version
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

fix: bug in sp-repo-review version
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

chore: bump black to 24.*
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

Make meson-python usage example more idiomatic
  docs/pages/guides/packaging_compiled.md
Due: disallow-caps, cog

fix: change template too
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='mesonpy' %}meson.build{% endif %}
Due: none

fix: use project name in template
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='mesonpy' %}meson.build{% endif %}
Due: none

fix: go back to install_subdir
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='mesonpy' %}meson.build{% endif %}
Due: none

fix: needs keyword arg
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='mesonpy' %}meson.build{% endif %}
Due: none

fix: minimum working example
  docs/pages/guides/packaging_compiled.md
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='mesonpy' %}meson.build{% endif %}
Due: disallow-caps, cog

refactor: make meson-python usage example more idiomatic (#367)
  docs/pages/guides/packaging_compiled.md
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='mesonpy' %}meson.build{% endif %}
Due: disallow-caps, cog

docs: bump schemas
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

docs: bump schemas (#368)
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: add pyproject extra
  pyproject.toml
Due: disallow-caps

chore: add pyproject extra (#369)
  pyproject.toml
Due: disallow-caps

docs: modernize some of the pages
  README.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_compiled.md
  src/sp_repo_review/checks/github.py
Due: disallow-caps, cog

Apply suggestions from code review
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/packaging_classic.md
Due: disallow-caps

docs: modernize some of the pages (#370)
  README.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_compiled.md
  src/sp_repo_review/checks/github.py
Due: disallow-caps, cog

[create-pull-request] automated change
  docs/pages/guides/style.md
Due: none

fix: Dependabot should only be required for GH repos
  src/sp_repo_review/checks/github.py
Due: disallow-caps

fix: add codecov token to github action
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: none

Update ci.yml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: none

fix: Dependabot should only be required for GH repos (#374)
  src/sp_repo_review/checks/github.py
Due: disallow-caps

Insert link to documentation
  docs/pages/tutorials/module.md
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

docs: add mention of token for codecov
  docs/pages/guides/coverage.md
Due: disallow-caps

ci: build docs with new Ruby deployment
  .readthedocs.yaml
Due: disallow-caps

chore: bundle update
  .ruby-version
  Gemfile.lock
Due: disallow-caps

ci: build docs with new Ruby deployment (#378)
  .readthedocs.yaml
  .ruby-version
  Gemfile.lock
Due: disallow-caps

Replace ToDo with link to `Writing documentation` in `Inline Documentation` tutorial (#376)
  docs/pages/tutorials/module.md
Due: disallow-caps

fix: add codecov token to github action (#375)
  docs/pages/guides/coverage.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: disallow-caps

ci: Update "cd" workflow adding "test_sdist" and "check_dist" jobs
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: none

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
