Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-words, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|RST|PyLint

disallow-words:
  name: Disallow certain words
  language: pygrep
  entry: '[Ff]alsey'

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

fix: serve or build mkdocs
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, disallow-words, cog

feat: adding mkdocs into guides and cookiecutter template (#662)
  .github/workflows/reusable-cookie.yml
  cookiecutter.json
  copier.yml
  docs/README.md
  docs/pages/guides/docs.md
  docs/pages/tutorials/docs.md
  noxfile.py
  pyproject.toml
  tests/test_readthedocs.py
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/README.md
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'mkdocs' %}api.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'mkdocs' %}index.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'sphinx' %}conf.py{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'sphinx' %}index.md{% endif %}
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/example.py
  {{cookiecutter.project_name}}/{% if cookiecutter.docs=='mkdocs' %}mkdocs.yml{% endif %}
Due: disallow-caps, disallow-words, cog

feat: add more Ruff checks, and a helper script
  helpers/cog_cc.py
  helpers/extensions.py
  helpers/missing_ruff.py
  pyproject.toml
  src/sp_repo_review/families.py
  tests/test_families.py
Due: disallow-caps, disallow-words

fix: make sure the lists match
  docs/pages/guides/style.md
  pyproject.toml
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

feat: add more Ruff checks, and a helper script (#670)
  docs/pages/guides/style.md
  helpers/cog_cc.py
  helpers/extensions.py
  helpers/missing_ruff.py
  pyproject.toml
  src/sp_repo_review/families.py
  tests/test_families.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

fix: include markdownlint-cli2
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: don't pick up beta tags for GHA
  .pre-commit-config.yaml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  noxfile.py
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, disallow-words, cog

fix: include markdownlint-cli2 (#672)
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

feat: check for dev dependency-group
  README.md
  docs/_includes/pyproject.md
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps, disallow-words

feat: check for dev dependency-group (#673)
  README.md
  docs/_includes/pyproject.md
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps, disallow-words

fix: helper should sort and printout was missing sometimes
  helpers/missing_ruff.py
Due: disallow-caps, disallow-words

fix: helper should sort and printout was missing sometimes (#674)
  helpers/missing_ruff.py
Due: disallow-caps, disallow-words

fix: make standalone helper a little nicer before removing it
  helpers/missing_ruff.py
Due: disallow-caps, disallow-words

fix: make standalone helper a little nicer before removing it (#676)
  helpers/missing_ruff.py
Due: disallow-caps, disallow-words

feat: integrate helper into package properly
  README.md
  pyproject.toml
  src/sp_repo_review/ruff_checks/__init__.py
  src/sp_repo_review/ruff_checks/__main__.py
  src/sp_repo_review/ruff_checks/linter.json
  tests/test_cmd.py
Due: disallow-caps, disallow-words

fix: windows seems to not like dots in name
  README.md
  pyproject.toml
  tests/test_cmd.py
Due: disallow-caps, disallow-words

feat: integrate helper into package properly (#675)
  README.md
  pyproject.toml
  src/sp_repo_review/ruff_checks/__init__.py
  src/sp_repo_review/ruff_checks/__main__.py
  src/sp_repo_review/ruff_checks/linter.json
  tests/test_cmd.py
Due: disallow-caps, disallow-words

fix: better ALL behavior for sp-ruff-checks
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/ruff_checks/__main__.py
  src/sp_repo_review/ruff_checks/ignore.json
  src/sp_repo_review/ruff_checks/select.json
Due: disallow-caps, disallow-words

fix: better ALL behavior for sp-ruff-checks (#677)
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/ruff_checks/__main__.py
  src/sp_repo_review/ruff_checks/ignore.json
  src/sp_repo_review/ruff_checks/select.json
Due: disallow-caps, disallow-words

fix: use log_level instead of log_cli_level
  docs/pages/guides/pytest.md
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

fix: use log_level instead of log_cli_level (#680)
  docs/pages/guides/pytest.md
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

feat: support pytest 9's new config
  README.md
  docs/pages/guides/pytest.md
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps, disallow-words

docs: split up ruff config
  docs/pages/guides/style.md
Due: disallow-words

Apply suggestions from code review
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps, disallow-words

docs: split up ruff config (#682)
  docs/pages/guides/style.md
Due: disallow-words

feat: support pytest 9's new config (#681)
  README.md
  docs/pages/guides/pytest.md
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps, disallow-words

fix: update pytest configuration tabs in documentation
  docs/pages/guides/pytest.md
Due: disallow-caps, disallow-words

Add script tag for tabs functionality in pytest guide
  docs/pages/guides/pytest.md
Due: disallow-caps, disallow-words

fix: update pytest configuration tabs in documentation (#684)
  docs/pages/guides/pytest.md
Due: disallow-caps, disallow-words

docs: bump webapp for 2025.11.10
  docs/_includes/interactive_repo_review.html
Due: disallow-caps, disallow-words

docs: bump webapp for 2025.11.10 (#685)
  docs/_includes/interactive_repo_review.html
Due: disallow-caps, disallow-words

fix: if show-fixes is set in config, count that
  pyproject.toml
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: if show-fixes is set in config, count that (#686)
  pyproject.toml
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

docs: improve the coverage page
  docs/pages/guides/coverage.md
Due: disallow-caps, disallow-words

Apply suggestions from code review
  docs/pages/guides/coverage.md
Due: disallow-caps, disallow-words

Fix coverage_file assignment in nox tests
  docs/pages/guides/coverage.md
Due: disallow-caps, disallow-words

docs: imporve the coverage page (#687)
  docs/pages/guides/coverage.md
Due: disallow-caps, disallow-words

Adding zensical note, and aligning order of docs between sphinx and mkdocs
  docs/pages/guides/docs.md
  docs/pages/tutorials/docs.md
Due: disallow-caps, disallow-words, cog

Update docs/pages/guides/docs.md
  docs/pages/guides/docs.md
Due: disallow-caps, disallow-words, cog

Adding zensical note, and aligning order of docs between sphinx and m… (#688)
  docs/pages/guides/docs.md
  docs/pages/tutorials/docs.md
Due: disallow-caps, disallow-words, cog

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  disallow-words: any of: not (.pre-commit-config.yaml$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks|gha_basic).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
