Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/psf/black
    rev: "23.7.0"
    hooks:
      - id: black-jupyter

  - repo: https://github.com/asottile/blacken-docs
    rev: "1.15.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.7.0]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.0.277"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.4.1"
    hooks:
      - id: mypy
        files: "(src|tests)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - repo-review
          - rich
          - tomli
          - types-PyYAML

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.5"
    hooks:
      - id: codespell
        exclude: ^Gemfile\.lock$
        args: ["-Lnd"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs).md|^copier.yml"
        additional_dependencies: [cogapp, cookiecutter]

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

ci: reduce frequency (already updated by another ci job) (#242)
  .pre-commit-config.yaml
Due: none

fix: pylint should run on compiled code
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

fix: pylint should run on compiled code (#244)
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

[create-pull-request] automated change
  docs/pages/guides/style.md
Due: none

feat: use repo-review 0.9 dynamic descriptions
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
  pyproject.toml
  src/sp_repo_review/families.py
Due: disallow-caps

Update docs/_includes/interactive_repo_review.html
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

feat: use repo-review 0.9 dynamic descriptions (#246)
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
  pyproject.toml
  src/sp_repo_review/families.py
Due: disallow-caps

fix: use repo-review 0.9.2
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

fix: use repo-review 0.9.2 (#247)
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
Due: disallow-caps

fix: gitlab was broken
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

fix: gitlab was broken (#249)
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: none

docs: remove repeated "with" in CONTRIBUTING.md
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

docs: remove repeated "with" in CONTRIBUTING.md (#250)
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

feat: add vcs versioning
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  helpers/cog_cc.py
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/{% if cookiecutter.vcs and cookiecutter.backend not in ['whey', 'mesonpy', 'poetry', 'maturin'] %}_version.pyi{% endif %}
  {{cookiecutter.project_name}}/tests/test_package.py
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}setup.cfg{% endif %}
Due: disallow-caps, cog

fix: work around bug in PDM-backend version writing
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
Due: none

fixup! feat: add vcs versioning
  noxfile.py
Due: disallow-caps

ci: fix windows RO error
  noxfile.py
Due: disallow-caps

feat: add vcs versioning (#251)
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  helpers/cog_cc.py
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/{% if cookiecutter.vcs and cookiecutter.backend not in ['whey', 'mesonpy', 'poetry', 'maturin'] %}_version.pyi{% endif %}
  {{cookiecutter.project_name}}/tests/test_package.py
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}setup.cfg{% endif %}
Due: disallow-caps, cog

Fix spelling in "can" and "another" @ GHA intro doc
  docs/pages/guides/gha_basic.md
Due: disallow-caps

Fix spelling in "can" and "another" @ GHA intro doc (#252)
  docs/pages/guides/gha_basic.md
Due: disallow-caps

fix(sp-repo-review): report correct message for github.ref
  src/sp_repo_review/checks/github.py
Due: disallow-caps

fix: use black mirror
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

fix: remove limits on repo-review
  pyproject.toml
Due: disallow-caps

Fix the pre-commit hook. pre-commit now expects the `.pre-commit-hooks.yaml` file to be a list of hooks even if its just defining a single hook.
  .pre-commit-hooks.yaml
Due: disallow-caps

Don't pass file names
  .pre-commit-hooks.yaml
Due: disallow-caps

fix(sp-repo-review): report correct message for github.ref (#253)
  src/sp_repo_review/checks/github.py
Due: disallow-caps

fix: use black mirror (#255)
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

fix: remove limits on repo-review (#256)
  pyproject.toml
Due: disallow-caps

Fix the pre-commit hook (#257)
  .pre-commit-hooks.yaml
  README.md
Due: disallow-caps

fix: handle renames in the pre-commit framework
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

docs: exectutable update
  docs/pages/guides/docs.md
Due: disallow-caps, cog

docs: pull Python check parts out of PGH
  docs/pages/guides/style.md
Due: none

fix: handle renames in the pre-commit framework (#260)
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

docs: pull Python check parts out of PGH (#261)
  docs/pages/guides/style.md
Due: none

fix: typo in gha_basic
  docs/pages/guides/gha_basic.md
Due: disallow-caps

fix: typo in gha_basic (#263)
  docs/pages/guides/gha_basic.md
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps
