Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

update theme-related text in documentation guide
  docs/pages/guides/docs.md
Due: disallow-caps, cog

Update packaing guide and repo-review to match spec13
  .github/workflows/reusable-rr-tests.yml
  README.md
  docs/_includes/pyproject.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/tasks.md
  noxfile.py
  pyproject.toml
  src/sp_repo_review/checks/general.py
  src/sp_repo_review/checks/pyproject.py
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}setup.cfg{% endif %}
Due: disallow-caps, cog

use pydata theme in conf.py too
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/docs/conf.py
Due: disallow-caps, cog

Revert "use pydata theme in conf.py too"
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/docs/conf.py
Due: disallow-caps, cog

chore: disallow RST (-> rST)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/docs.md
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps, cog

docs: update theme-related text in documentation guide (#437)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/docs.md
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps, cog

falsey → falsy
  src/sp_repo_review/checks/mypy.py
Due: disallow-caps

Remove `ref-names` from `.git_archival.txt`
  .git_archival.txt
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_simple.md
  {{cookiecutter.project_name}}/.git_archival.txt
Due: disallow-caps

feat: add attestations
  .github/workflows/cd.yml
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

Remove `ref-names` from `.git_archival.txt` (#444)
  .git_archival.txt
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_simple.md
  {{cookiecutter.project_name}}/.git_archival.txt
Due: disallow-caps

feat: add attestations (#445)
  .github/workflows/cd.yml
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

docs: falsey → falsy (#442)
  .pre-commit-config.yaml
  src/sp_repo_review/checks/mypy.py
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

fix: ensure iteration over directories
  src/sp_repo_review/checks/general.py
Due: disallow-caps

Update src/sp_repo_review/checks/general.py
  src/sp_repo_review/checks/general.py
Due: disallow-caps

fix: ensure iteration over directories (#452)
  src/sp_repo_review/checks/general.py
Due: disallow-caps

docs: link back to source
  {{cookiecutter.project_name}}/docs/conf.py
Due: none

docs: link back to source (#455)
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/docs/conf.py
Due: disallow-caps, cog

fix: support crate-ci/typos in addition to codespell
  README.md
  noxfile.py
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps

fix: support crate-ci/typos in addition to codespell (#460)
  README.md
  noxfile.py
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps

fix: add a supported fork of the prettier mirror
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps

chore: bump repo-review deps
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: bump repo-review deps (#462)
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

fix: add a supported fork of the prettier mirror (#461)
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps

fix: allow mdformat as a mdformatter
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: move the pre-commit prettier mirror
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  tests/test_precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

fix: allow mdformat as a mdformatter (#466)
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: move the pre-commit prettier mirror (#467)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/index.md
  docs/pages/guides/mypy.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/packaging_simple.md
  docs/pages/guides/style.md
  docs/pages/index.md
  docs/pages/principles/design.md
  docs/pages/principles/index.md
  docs/pages/tutorials/module.md
  docs/pages/tutorials/packaging.md
  docs/pages/tutorials/test.md
  tests/test_precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, cog

fix: allow pytest opts to be a string
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps

fix: allow pytest opts to be a string (#468)
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps

ci: update for 3.13 and ruff updates
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  pyproject.toml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

Update reusable-cookie.yml
  .github/workflows/reusable-cookie.yml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
