Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-words, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|RST|PyLint

disallow-words:
  name: Disallow certain words
  language: pygrep
  entry: '[Ff]alsey'

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter
  - tomlkit

Apply suggestions from code review
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps, disallow-words

fix: allow tox.toml in rule `PY007` (#739)
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps, disallow-words

Add 'CPY' to typos extend-words configuration
  pyproject.toml
Due: disallow-caps, disallow-words

Add failing unit test
  tests/test_precommit.py
Due: disallow-caps, disallow-words

Fix PC191 raising TypeError when no ruff config present
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps, disallow-words

Switch to parametrized test
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: PC191 raising TypeError when no ruff config present (#746)
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: show pytest 9 examples too
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps, disallow-words

Add pytest 9 example to PP305 too
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps, disallow-words

fix: show pytest 9 examples too (#748)
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps, disallow-words

fix: minor touchup to template
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/example.py
  {{cookiecutter.project_name}}/tests/test_package.py
Due: none

fix: minor touchup to template (#751)
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/example.py
  {{cookiecutter.project_name}}/tests/test_package.py
Due: none

ci: more speed
  .gitignore
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.gitignore
Due: disallow-caps, disallow-words

fix: use modern badge URL
  README.md
  {{cookiecutter.project_name}}/README.md
Due: disallow-caps, disallow-words

Apply suggestion from @henryiii
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: none

fix: trim down Zensical, fix copyright year
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}index.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}markdown.md{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: none

ci: more speed (#752)
  .gitignore
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.gitignore
Due: disallow-caps, disallow-words

Update documentation index with new link
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}index.md{% endif %}
Due: none

fix: use modern badge URL (#753)
  README.md
  {{cookiecutter.project_name}}/README.md
Due: disallow-caps, disallow-words

fix: trim down Zensical, fix copyright year (#754)
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}index.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'zensical' %}markdown.md{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: none

fix: better zensical setup
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: none

Update {% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: none

fix: disable pre-commit.ci checks if using dependabot pre-commit
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

docs: also mention in guide
  docs/pages/guides/style.md
Due: disallow-words

fix: better zensical setup (#756)
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'zensical' %}zensical.toml{% endif %}
Due: none

fix: allow flake8 as a linter too
  README.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: ensure PC191 doesn't trigger for flake8
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: disable pre-commit.ci checks if using dependabot pre-commit (#758)
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: allow flake8 as a linter too (#757)
  README.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: cap for uv backend
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: cap for uv backend (#759)
  docs/pages/guides/packaging_compiled.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words, cog

chore: support repo-review 1.0 prefetch
  pyproject.toml
  src/sp_repo_review/files.py
Due: disallow-caps, disallow-words

feat: add a check for trusted publishing
  README.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  src/sp_repo_review/checks/github.py
  tests/test_github.py
Due: disallow-caps, disallow-words, cog

feat: add a check for trusted publishing (#764)
  README.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  src/sp_repo_review/checks/github.py
  tests/test_github.py
Due: disallow-caps, disallow-words, cog

chore: support repo-review 1.0 prefetch (#763)
  pyproject.toml
  src/sp_repo_review/files.py
Due: disallow-caps, disallow-words

chore: bump ruby deps
  .readthedocs.yaml
  Gemfile.lock
  pyproject.toml
Due: disallow-caps, disallow-words

chore: bump ruby deps (#765)
  .readthedocs.yaml
  Gemfile.lock
  pyproject.toml
Due: disallow-caps, disallow-words

tests: add missing tests
  tests/test_github.py
  tests/test_mypy.py
  tests/test_pyproject.py
  tests/test_ruff.py
Due: disallow-caps, disallow-words

fix: pc check skipped incorrectly
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  disallow-words: any of: not (.pre-commit-config.yaml$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks|gha_basic).md|^copier.yml|^docs/_includes/pyproject.md, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
