Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

fix: broken link (#289)
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

fix: link back to learn/sp
  _config.yml
Due: disallow-caps

fix: link back to learn/sp (#293)
  _config.yml
Due: disallow-caps

chore: bump black pin too
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

feat: schema validation
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

chore: drop 3.11 & use pypy3.10
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
Due: none

chore: drop 3.11 & use pypy3.10 (#296)
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/__init__.py
Due: none

feat: check for deprecated Ruff codes
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/ruff.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

feat: check for lint section in Ruff
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/ruff.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

feat: check for deprecated Ruff codes (#297)
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/ruff.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: fix logic broken if more than one hook in Ruff
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

fix: fix logic broken if more than one hook in Ruff (#300)
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps

feat: schema validation (#295)
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

feat: allow and mention ruff-formatter
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/general.py
  src/sp_repo_review/checks/github.py
  src/sp_repo_review/checks/precommit.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/ruff.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

docs: 'exclude' is a little different
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

feat: allow and mention ruff-formatter (#299)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/general.py
  src/sp_repo_review/checks/github.py
  src/sp_repo_review/checks/precommit.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/ruff.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: simplify and prepare for next release
  docs/_includes/interactive_repo_review.html
  docs/pages/guides/style.md
  pyproject.toml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: simplify and prepare for next release (#301)
  docs/_includes/interactive_repo_review.html
  docs/pages/guides/style.md
  pyproject.toml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: correct some missing links
  docs/pages/guides/docs.md
  docs/pages/guides/packaging_classic.md
Due: disallow-caps, cog

fix: correct some missing links (#302)
  docs/pages/guides/docs.md
  docs/pages/guides/packaging_classic.md
Due: disallow-caps, cog

Fix small typos
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
Due: disallow-caps, cog

Fix small typos (#303)
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
Due: disallow-caps, cog

docs: change linked text for sp-repo-review
  docs/pages/guides/index.md
  docs/pages/index.md
Due: disallow-caps

Update pyproject.md
  docs/_includes/pyproject.md
Due: disallow-caps

Update pyproject.md (#305)
  docs/_includes/pyproject.md
Due: disallow-caps

docs: change linked text for sp-repo-review (#304)
  docs/pages/guides/index.md
  docs/pages/index.md
Due: disallow-caps

fix: support hatch, tox (pyproject), and spin for PY007
  docs/pages/guides/tasks.md
  src/sp_repo_review/checks/general.py
Due: disallow-caps, cog

fix: link was not copied properly
  docs/pages/guides/index.md
Due: disallow-caps

fix: link was not copied properly (#308)
  docs/pages/guides/index.md
Due: disallow-caps

fix: support hatch, tox (pyproject), and spin for PY007 (#307)
  docs/pages/guides/tasks.md
  src/sp_repo_review/checks/general.py
Due: disallow-caps, cog

fix: show_error_codes deprecated
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/mypy.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: tweak the hatch integration
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: tweak the hatch integration (#310)
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: show_error_codes deprecated (#309)
  README.md
  docs/pages/guides/style.md
  pyproject.toml
  src/sp_repo_review/checks/mypy.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: support simple Ruff extend
  pyproject.toml
  src/sp_repo_review/checks/ruff.py
  tests/packages/ruff_extend/pyproject.toml
  tests/packages/ruff_extend/ruff.toml
  tests/test_package.py
  tests/test_utils.py
Due: disallow-caps

fix: loosen required summary flag
  src/sp_repo_review/checks/pyproject.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
