Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-words, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|RST|PyLint

disallow-words:
  name: Disallow certain words
  language: pygrep
  entry: '[Ff]alsey'

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

fix: accept build.jobs as valid ReadTheDocs configuration in RTD104 (#691)
  src/sp_repo_review/checks/readthedocs.py
  tests/test_readthedocs.py
Due: disallow-caps, disallow-words

fix: skip readthedocs if no readthedocs file present
  src/sp_repo_review/checks/readthedocs.py
Due: disallow-caps, disallow-words

fix(sp-ruff-checks): base indendation on max size
  src/sp_repo_review/ruff_checks/__main__.py
  src/sp_repo_review/ruff_checks/ignore.json
Due: disallow-caps, disallow-words

fix: skip readthedocs if no readthedocs file present (#693)
  src/sp_repo_review/checks/readthedocs.py
Due: disallow-caps, disallow-words

fix(sp-ruff-checks): base indendation on max size (#694)
  src/sp_repo_review/ruff_checks/__main__.py
  src/sp_repo_review/ruff_checks/ignore.json
Due: disallow-caps, disallow-words

fix: support named tab groups for independent tab switching (#698)
  .gitignore
  docs/_plugins/tabs.rb
  docs/assets/js/tabs.js
  docs/pages/guides/style.md
Due: disallow-caps, disallow-words

docs: mention prek
  docs/pages/guides/style.md
Due: disallow-words

chore: support running with prek
  .prekignore
Due: disallow-caps, disallow-words

fix: also mention prek in the CONTRIBUTING.md
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

feat: add more pre-commit ci checks
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, disallow-words

chore: move noxfiles to using prek
  docs/pages/guides/tasks.md
  noxfile.py
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, disallow-words, cog

docs: mention prek (#696)
  .prekignore
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  noxfile.py
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, disallow-words, cog

feat: add more pre-commit ci checks (#695)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, disallow-words

ci: only compare generation on Linux (faster)
  .github/workflows/reusable-cookie.yml
Due: disallow-caps, disallow-words

ci: only compare generation on Linux (faster) (#699)
  .github/workflows/reusable-cookie.yml
Due: disallow-caps, disallow-words

fix(action): correct output formatting and select/ignore
  action.yml
Due: disallow-caps, disallow-words

ci: faster, check action.yml too
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-cookie.yml
Due: disallow-caps, disallow-words

fix(action): correct output formatting and select/ignore (#700)
  .github/workflows/reusable-change-detection.yml
  .github/workflows/reusable-cookie.yml
  action.yml
Due: disallow-caps, disallow-words

fix: drop old log level from check
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps, disallow-words

fix: drop old log level from check (#701)
  src/sp_repo_review/checks/pyproject.py
  tests/test_pyproject.py
Due: disallow-caps, disallow-words

fix: hide pre-commit checks if lefthook is used
  pyproject.toml
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: hide pre-commit checks if lefthook is used (#702)
  pyproject.toml
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

chore: banned imports no longer needed for typing (UP handles it)
  pyproject.toml
Due: disallow-caps, disallow-words

chore: banned imports no longer needed for typing (UP handles it) (#703)
  pyproject.toml
Due: disallow-caps, disallow-words

chore: enable ruff ALL
  helpers/cog_cc.py
  helpers/cog_helpers.py
  noxfile.py
  pyproject.toml
Due: disallow-caps, disallow-words

chore: enable ruff ALL (#705)
  helpers/cog_cc.py
  helpers/cog_helpers.py
  noxfile.py
  pyproject.toml
Due: disallow-caps, disallow-words

chore: bump schema store in webapp
  docs/_includes/interactive_repo_review.html
Due: disallow-caps, disallow-words

refactor: rename docs -> rtd for check family
  README.md
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/families.py
Due: disallow-caps, disallow-words

fix: note when checks might be hidden
  README.md
  src/sp_repo_review/families.py
Due: disallow-caps, disallow-words

Apply suggestions from code review
  README.md
  src/sp_repo_review/families.py
Due: disallow-caps, disallow-words

refactor: readthedocs rename (#706)
  README.md
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/families.py
Due: disallow-caps, disallow-words

chore: update sp-repo-review version in HTML file
  docs/_includes/interactive_repo_review.html
Due: disallow-caps, disallow-words

Correct .pre-commit-config.yaml filename in version bump
  noxfile.py
Due: disallow-caps, disallow-words

Correct .pre-commit-config.yaml filename in version bump (#707)
  noxfile.py
Due: disallow-caps, disallow-words

Update Intel macOS images
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps, disallow-words

fix: compiled page fixes
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_compiled.md
Due: disallow-caps, disallow-words, cog

Update workflows, templates, and instructions to mention new macOS Intel images (#709)
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps, disallow-words

Apply suggestions from code review
  docs/pages/guides/packaging_compiled.md
Due: disallow-caps, disallow-words, cog

fix: compiled page fixes (#711)
  docs/_includes/pyproject.md
  docs/pages/guides/packaging_compiled.md
Due: disallow-caps, disallow-words, cog

Add missing macos-15-intel for CI template
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: none

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  disallow-words: any of: not (.pre-commit-config.yaml$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks|gha_basic).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
