Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: "quarterly"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "23.10.0"
    hooks:
      - id: black-jupyter

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.16.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.10.0]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.1"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.6.1"
    hooks:
      - id: mypy
        files: "(src|tests)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - repo-review
          - rich
          - tomli
          - types-PyYAML

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.3"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.6"
    hooks:
      - id: codespell
        exclude: ^Gemfile\.lock$
        args: ["-Lnd", "-w"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml"
        additional_dependencies: [cogapp, cookiecutter]

fix: prepare for artifact v4
  .github/workflows/reusable-cookie.yml
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

Apply suggestions from code review
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

Add AGPL as a license option
  cookiecutter.json
  copier.yml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend in ['setuptools','pybind11'] %}setup.cfg{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='AGPL3' %}LICENSE{% endif %}
Due: disallow-caps, cog

Fix typo in AGPL LICENSE file name
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='AGPL' %}LICENSE{% endif %}
Due: none

fix: prepare for artifact v4 (#335)
  .github/workflows/reusable-cookie.yml
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

ci: filter pre-releases
  noxfile.py
Due: disallow-caps

ci: filter pre-releases (#345)
  noxfile.py
Due: disallow-caps

fix: correct tutorial src layout (#340)
  docs/pages/tutorials/packaging.md
Due: disallow-caps

Update docs/pages/tutorials/packaging.md
  docs/pages/tutorials/packaging.md
Due: disallow-caps

ci: fix syntax for regex
  noxfile.py
Due: disallow-caps

fix: correct tutorial src layout (#340) (#346)
  docs/pages/tutorials/packaging.md
Due: disallow-caps

ci: fix syntax for regex (#347)
  noxfile.py
Due: disallow-caps

[create-pull-request] automated change
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

ci: group dependabot updates
  .github/dependabot.yml
Due: disallow-caps

feat: grouped updates for Dependabot
  README.md
  docs/pages/guides/gha_basic.md
  src/sp_repo_review/checks/github.py
  {{cookiecutter.project_name}}/.github/dependabot.yml
Due: disallow-caps

feat: groups for dependabot (#348)
  .github/dependabot.yml
  README.md
  docs/pages/guides/gha_basic.md
  src/sp_repo_review/checks/github.py
  {{cookiecutter.project_name}}/.github/dependabot.yml
Due: disallow-caps

feat: support archive v4
  README.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  src/sp_repo_review/checks/github.py
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

feat: support archive v4 (#350)
  README.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_pure.md
  docs/pages/guides/gha_wheels.md
  src/sp_repo_review/checks/github.py
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

docs: fix link to homepage
  pyproject.toml
Due: disallow-caps

docs: fix link to homepage (#351)
  pyproject.toml
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

chore: bump webapp
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

fix: allow warn_unreachable to be set to False explicitly
  src/sp_repo_review/checks/mypy.py
Due: disallow-caps

fix: allow warn_unreachable to be set to False explicitly (#353)
  src/sp_repo_review/checks/mypy.py
Due: disallow-caps

chore: fix mypy type for tomli
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

Apply suggestions from code review
  .pre-commit-config.yaml
Due: none

fix: include matrix logic & location of errors in GH104
  src/sp_repo_review/checks/github.py
Due: disallow-caps

fix: include matrix logic & location of errors in GH104 (#356)
  src/sp_repo_review/checks/github.py
Due: disallow-caps

[create-pull-request] automated change
  docs/pages/guides/style.md
Due: none

Update file extensions for SDists and wheels
  docs/pages/guides/packaging_classic.md
Due: disallow-caps

docs: assert correct file extension reference for wheels & sdists (#358)
  docs/pages/guides/packaging_classic.md
Due: disallow-caps

Add missing words?
  docs/pages/guides/docs.md
Due: disallow-caps, cog

docs: add missing words (#360)
  docs/pages/guides/docs.md
Due: disallow-caps, cog

Typo fix from .reathedocs.yml to .readthedocs.yaml
  docs/pages/guides/docs.md
Due: disallow-caps, cog

docs: fix links of PY rules in packaging_simple.md
  docs/pages/guides/packaging_simple.md
Due: disallow-caps

docs: fix links of PY rules in packaging_simple.md (#362)
  docs/pages/guides/packaging_simple.md
Due: disallow-caps
