Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-words, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore(deps): update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: "quarterly"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1"
    hooks:
      - id: mypy
        files: "(src|tests|noxfile.py)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - nox
          - orjson
          - repo-review>=0.10.6
          - rich
          - tomli>=2.0.2
          - types-PyYAML

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.7.4"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/crate-ci/typos
    rev: "v1.41.0"
    hooks:
      - id: typos
        exclude: ^Gemfile\.lock$

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|RST|PyLint
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-words
        name: Disallow certain words
        language: pygrep
        entry: "[Ff]alsey"
        exclude: .pre-commit-config.yaml$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs|tasks|gha_basic).md|^copier.yml|^docs/_includes/pyproject.md"
        additional_dependencies: [cogapp, cookiecutter, tomlkit]

chore: add [async] extra to match repo-review 1.0
  .pre-commit-hooks.yaml
  pyproject.toml
Due: disallow-caps, disallow-words

chore: run flake8-lazy
  src/sp_repo_review/__init__.py
  src/sp_repo_review/_compat/importlib/resources/abc.py
  src/sp_repo_review/_compat/tomllib.py
  src/sp_repo_review/checks/github.py
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/noxfile.py
  src/sp_repo_review/checks/precommit.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/checks/setupcfg.py
  src/sp_repo_review/families.py
  src/sp_repo_review/ruff_checks/__main__.py
Due: disallow-caps, disallow-words

tests: add missing tests (#766)
  tests/test_github.py
  tests/test_mypy.py
  tests/test_pyproject.py
  tests/test_ruff.py
Due: disallow-caps, disallow-words

fix: pc check skipped incorrectly (#767)
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

chore: add [async] extra to match repo-review 1.0 (#768)
  .pre-commit-hooks.yaml
  pyproject.toml
Due: disallow-caps, disallow-words

chore: run flake8-lazy (#769)
  src/sp_repo_review/__init__.py
  src/sp_repo_review/_compat/importlib/resources/abc.py
  src/sp_repo_review/_compat/tomllib.py
  src/sp_repo_review/checks/github.py
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/noxfile.py
  src/sp_repo_review/checks/precommit.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/checks/setupcfg.py
  src/sp_repo_review/families.py
  src/sp_repo_review/ruff_checks/__main__.py
Due: disallow-caps, disallow-words

chore: use the new repo-review (1.0.0rc3)
  .gitignore
  .readthedocs.yaml
  docs/README.md
  docs/_includes/head_custom.html
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
  helpers/fetch_repo_review_app.sh
Due: disallow-caps, disallow-words

fix: no attribute error
  pyproject.toml
Due: disallow-caps, disallow-words

Update Pyodide script source version
  docs/_includes/head_custom.html
Due: disallow-caps, disallow-words

chore: use the new repo-review (1.0.0rc3) (#770)
  .gitignore
  .readthedocs.yaml
  docs/README.md
  docs/_includes/head_custom.html
  docs/_includes/interactive_repo_review.html
  docs/assets/js/webapp.js
  helpers/fetch_repo_review_app.sh
  pyproject.toml
Due: disallow-caps, disallow-words

chore: bump repo-review to 1.0.0 final
  docs/_includes/interactive_repo_review.html
  helpers/fetch_repo_review_app.sh
Due: disallow-caps, disallow-words

docs: add conda badge
  README.md
Due: disallow-caps, disallow-words

docs: fix GHA badge
  README.md
Due: disallow-caps, disallow-words

fix(webapp): mobile formatting for responsive entry boxes (#771)
  docs/_includes/interactive_repo_review.html
  helpers/fetch_repo_review_app.sh
Due: disallow-caps, disallow-words

docs: add conda badge (#772)
  README.md
Due: disallow-caps, disallow-words

fix: update version to v1.0.2 in fetch_repo_review_app.sh
  helpers/fetch_repo_review_app.sh
Due: disallow-caps, disallow-words

chore: bump repo-review to 1.0.3
  docs/_includes/interactive_repo_review.html
  helpers/fetch_repo_review_app.sh
Due: disallow-caps, disallow-words

docs: fix dependencies in repo-review
  docs/_includes/interactive_repo_review.html
Due: disallow-caps, disallow-words

ci: bump setup-uv to maintained tag scheme
  .github/workflows/bump.yml
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
Due: disallow-caps, disallow-words

chore: update the rest of the setup-uv mentions
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps, disallow-words, cog

ci: bump setup-uv to maintained tag scheme (#777)
  .github/workflows/bump.yml
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps, disallow-words, cog

Fix malformed GHA images table
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

Fix: "MacOS" --> "macOS"
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

docs: fix malformed GHA images table (#780)
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

Remove reference to gautamkrishnar/keepalive-workflow
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

Remove reference to gautamkrishnar/keepalive-workflow that violates GitHub ToS (#781)
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

chore: use native readthedocs uv integration
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/.readthedocs.yaml
Due: disallow-caps, disallow-words, cog

Update {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/.readthedocs.yaml
Due: none

chore: use native readthedocs uv integration (#783)
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/.readthedocs.yaml
Due: disallow-caps, disallow-words, cog

feat(sp-ruff-checks): plain and auto output format
  pyproject.toml
  src/sp_repo_review/ruff_checks/__main__.py
  tests/test_ruff_checks_cli.py
Due: disallow-caps, disallow-words

chore: clean up a littl
  src/sp_repo_review/ruff_checks/__main__.py
Due: disallow-caps, disallow-words

feat(sp-ruff-checks): plain and auto output format (#786)
  pyproject.toml
  src/sp_repo_review/ruff_checks/__main__.py
  tests/test_ruff_checks_cli.py
Due: disallow-caps, disallow-words

feat: allow pyrefly instead of mypy
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

feat: allow pyrefly instead of mypy (#789)
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

docs: add prek tabs to GitHub Actions docs
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
Due: disallow-caps, disallow-words, cog

Update docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

fix: minor fixes
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
Due: disallow-caps, disallow-words, cog

docs: add prek tabs to GitHub Actions docs (#791)
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
Due: disallow-caps, disallow-words, cog

fix: add a few more formatters/linters for markdown
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps, disallow-words

fix: add a few more formatters/linters for markdown (#793)
  src/sp_repo_review/checks/precommit.py
Due: disallow-caps, disallow-words
