Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

Explain FORCE_COLOR: 3
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps, cog

Explain `FORCE_COLOR: 3` (#410)
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps, cog

fix: correct logic for RF002 (#409)
  src/sp_repo_review/checks/ruff.py
  tests/test_ruff.py
Due: disallow-caps

chore: cleanups and bumps
  docs/_includes/interactive_repo_review.html
  pyproject.toml
  tests/test_pyproject.py
Due: disallow-caps

chore: cleanups and bumps (#412)
  docs/_includes/interactive_repo_review.html
  pyproject.toml
  tests/test_pyproject.py
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: none

tests: use most recent repo-review in testing
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_pyproject.py
  tests/test_ruff.py
Due: disallow-caps

tests: use most recent repo-review in testing (#414)
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_pyproject.py
  tests/test_ruff.py
Due: disallow-caps

chore: bump webapp
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

fix: support macos-14, avoid macos-latest
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: Poetry issue with docutils
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

Update pyproject.toml
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

Apply suggestions from code review
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: support macos-14, avoid macos-latest (#417)
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

Remove duplicate workflow YAML conditional
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
Due: none

Remove duplicate workflow YAML conditional (#416)
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
Due: none

Remove duplicate explanation of pre-commit
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

Remove duplicate explanation of pre-commit (#415)
  {{cookiecutter.project_name}}/.github/CONTRIBUTING.md
Due: none

ci: use macos-14's new Python 3.8+ support
  .github/workflows/reusable-cookie.yml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: disallow-caps

ci: use macos-14's new Python 3.8+ support (#418)
  .github/workflows/reusable-cookie.yml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

feat: add GitHub release config
  .github/release.yml
  docs/pages/guides/gha_basic.md
  {{cookiecutter.project_name}}/.github/release.yml
Due: disallow-caps

feat: add uv readthedocs config
  docs/pages/guides/docs.md
  docs/pages/guides/tasks.md
  docs/pages/tutorials/dev-environment.md
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/README.md
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

chore: use cog
  .pre-commit-config.yaml
  docs/pages/guides/gha_basic.md
Due: disallow-caps

Update {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/noxfile.py
Due: none

feat: add GitHub release config (#423)
  .github/release.yml
  .pre-commit-config.yaml
  docs/pages/guides/gha_basic.md
  {{cookiecutter.project_name}}/.github/release.yml
Due: disallow-caps

feat: add uv readthedocs config (#424)
  docs/pages/guides/docs.md
  docs/pages/guides/tasks.md
  docs/pages/tutorials/dev-environment.md
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/README.md
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

docs: rebuild wheels if gha file changes
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

Update {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: none

Apply suggestions from code review
  docs/pages/guides/gha_wheels.md
Due: disallow-caps

docs: rebuild wheels if gha file changes (#425)
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

chore: use the new github actions reporter for pylint
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/matchers/pylint.json
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps

chore: use the new github actions reporter for pylint (#427)
  docs/pages/guides/gha_basic.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/matchers/pylint.json
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps

remove template variables from apache license appendix
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='Apache' %}LICENSE{% endif %}
Due: none

fix: remove template variables from apache license appendix (#429)
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='Apache' %}LICENSE{% endif %}
Due: none

[create-pull-request] automated change
  docs/pages/guides/coverage.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: disallow-caps

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
