Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-words, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|RST|PyLint

disallow-words:
  name: Disallow certain words
  language: pygrep
  entry: '[Ff]alsey'

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

Apply suggestions from code review
  src/sp_repo_review/checks/noxfile.py
Due: disallow-caps, disallow-words

fix: some smaller fixes
  .pre-commit-config.yaml
  noxfile.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, disallow-words

refactor: rename
  src/sp_repo_review/checks/noxfile.py
  tests/test_nox.py
Due: disallow-caps, disallow-words

feat: add noxfile checks (#659)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/tasks.md
  noxfile.py
  pyproject.toml
  src/sp_repo_review/checks/noxfile.py
  src/sp_repo_review/families.py
  tests/test_nox.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps, disallow-words, cog

Initial mkdocs additions
  cookiecutter.json
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/.readthedocs.yaml
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='mkdocs' %}docs{% endif %} copy/api.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='mkdocs' %}docs{% endif %} copy/examples/README.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='mkdocs' %}docs{% endif %} copy/examples/example_1.py
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='mkdocs' %}docs{% endif %} copy/index.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='sphinx' %}docs{% endif %}/conf.py
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='sphinx' %}docs{% endif %}/index.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs=='mkdocs' %}mkdocs.yml{% endif %}
Due: disallow-caps, disallow-words, cog

Updating mkdocs documentation
  README.md
  docs/pages/guides/docs.md
  src/sp_repo_review/checks/readthedocs.py
  tests/test_readthedocs.py
Due: disallow-caps, disallow-words, cog

Updating mkdocs
  docs/README.md
  docs/pages/guides/docs.md
Due: disallow-caps, disallow-words, cog

Updating copier
  cookiecutter.json
  copier.yml
  docs/pages/tutorials/docs.md
Due: disallow-caps, disallow-words, cog

I am dumb
  copier.yml
Due: disallow-caps, disallow-words, cog

Newline
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

Ensuring copier and cookiecutter work
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/README.md
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/example.py
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'mkdocs' %}docs{% endif %}/api.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'mkdocs' %}docs{% endif %}/index.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'sphinx' %}docs{% endif %}/conf.py
  {{cookiecutter.project_name}}/{% if cookiecutter.docs == 'sphinx' %}docs{% endif %}/index.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='mkdocs' %}docs{% endif %} copy/api.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='mkdocs' %}docs{% endif %} copy/examples/README.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs='mkdocs' %}docs{% endif %} copy/examples/example_1.py
  {{cookiecutter.project_name}}/{% if cookiecutter.docs=='mkdocs' %}mkdocs.yml{% endif %}
Due: disallow-caps, disallow-words, cog

fix(pre-commit): only show errors
  .pre-commit-hooks.yaml
Due: disallow-caps, disallow-words

fix(pre-commit): only show errors (#665)
  .pre-commit-hooks.yaml
Due: disallow-caps, disallow-words

fix: use FA instead of adding import via isort
  docs/pages/guides/style.md
  helpers/cog_helpers.py
  noxfile.py
  pyproject.toml
  src/sp_repo_review/checks/general.py
  src/sp_repo_review/checks/github.py
  src/sp_repo_review/checks/noxfile.py
  src/sp_repo_review/checks/precommit.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/checks/setupcfg.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words

fix: no future needed in pyi
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/{% if cookiecutter.__type=='compiled' %}_core.pyi{% endif %}
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/{% if cookiecutter.vcs and cookiecutter.backend not in ['whey', 'mesonpy', 'poetry', 'maturin'] %}_version.pyi{% endif %}
Due: none

fix: use FA instead of adding import via isort (#666)
  docs/pages/guides/style.md
  helpers/cog_helpers.py
  noxfile.py
  pyproject.toml
  src/sp_repo_review/checks/general.py
  src/sp_repo_review/checks/github.py
  src/sp_repo_review/checks/noxfile.py
  src/sp_repo_review/checks/precommit.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/checks/setupcfg.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/{% if cookiecutter.__type=='compiled' %}_core.pyi{% endif %}
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/{% if cookiecutter.vcs and cookiecutter.backend not in ['whey', 'mesonpy', 'poetry', 'maturin'] %}_version.pyi{% endif %}
Due: disallow-caps, disallow-words

WIP: some additions
  README.md
  docs/pages/guides/docs.md
  noxfile.py
  src/sp_repo_review/checks/readthedocs.py
Due: disallow-caps, disallow-words, cog

fix: can't make a directory conditional
  cookiecutter.json
  docs/pages/guides/docs.md
  pyproject.toml
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'mkdocs' %}api.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'mkdocs' %}index.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'sphinx' %}conf.py{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'sphinx' %}index.md{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.docs=='mkdocs' %}mkdocs.yml{% endif %}
Due: disallow-caps, disallow-words, cog

Apply suggestions from code review
  docs/pages/guides/docs.md
  noxfile.py
Due: disallow-caps, disallow-words, cog

fix: minor fixup from looking at the diff
  {{cookiecutter.project_name}}/README.md
  {{cookiecutter.project_name}}/noxfile.py
Due: none

fix: some styling corrections
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'mkdocs' %}index.md{% endif %}
  {{cookiecutter.project_name}}/noxfile.py
Due: none

ci: update for new option
  .github/workflows/reusable-cookie.yml
Due: disallow-caps, disallow-words

feat: note rules not followed in ruff description
  src/sp_repo_review/families.py
  tests/test_families.py
Due: disallow-caps, disallow-words

test: add tests for ruff family description feature (#668)
  tests/test_families.py
Due: disallow-caps, disallow-words

chore: fixup some warnings
  pyproject.toml
  tests/test_families.py
Due: disallow-caps, disallow-words

chore: more style adjustments
  {{cookiecutter.project_name}}/README.md
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'mkdocs' %}api.md{% endif %}
  {{cookiecutter.project_name}}/docs/{% if cookiecutter.docs == 'mkdocs' %}index.md{% endif %}
  {{cookiecutter.project_name}}/noxfile.py
Due: none

feat: note rules not followed in ruff description (#667)
  pyproject.toml
  src/sp_repo_review/families.py
  tests/test_families.py
Due: disallow-caps, disallow-words

Apply suggestions from code review
  noxfile.py
Due: disallow-caps, disallow-words

chore: colour -> color
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/{% if cookiecutter.docs=='mkdocs' %}mkdocs.yml{% endif %}
Due: disallow-caps, disallow-words, cog

chore: a few more updates inspired by copilot
  docs/pages/guides/docs.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, disallow-words, cog

feat: list requires Python too
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/families.py
  tests/test_families.py
Due: disallow-caps, disallow-words

chore: fix one more space
  {{cookiecutter.project_name}}/noxfile.py
Due: none

feat: list requires Python too (#669)
  pyproject.toml
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/ruff.py
  src/sp_repo_review/families.py
  tests/test_families.py
Due: disallow-caps, disallow-words

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  disallow-words: any of: not (.pre-commit-config.yaml$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks|gha_basic).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
