Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/psf/black
    rev: "23.7.0"
    hooks:
      - id: black-jupyter

  - repo: https://github.com/asottile/blacken-docs
    rev: "1.15.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.7.0]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.0.277"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.4.1"
    hooks:
      - id: mypy
        files: "(src|tests)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - repo-review
          - rich
          - tomli
          - types-PyYAML

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.5"
    hooks:
      - id: codespell
        exclude: ^Gemfile\.lock$
        args: ["-Lnd"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs).md|^copier.yml"
        additional_dependencies: [cogapp, cookiecutter]

docs: mention compiled page too (#220)
  docs/pages/index.md
Due: disallow-caps

[create-pull-request] automated change
  docs/pages/guides/gha_basic.md
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type == 'compiled' %}wheels.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

chore: update remaining black== values
  .gitignore
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

fix: some broken links fuond by html-proofer
  Gemfile
  Gemfile.lock
  _config.yml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_simple.md
  docs/pages/guides/style.md
  docs/pages/principles/design.md
Due: disallow-caps

fix: better structure for workflows (ci+cd)
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='Apache' %}LICENSE{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='BSD' %}LICENSE{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='MIT' %}LICENSE{% endif %}
Due: none

fix: some broken links fuond by html-proofer (#223)
  Gemfile
  Gemfile.lock
  _config.yml
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_simple.md
  docs/pages/guides/style.md
  docs/pages/principles/design.md
Due: disallow-caps

docs: add a bit of history (#219)
  docs/pages/index.md
Due: disallow-caps

fix: message cls crash
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

fix: better structure for workflows (ci+cd) (#224)
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='Apache' %}LICENSE{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='BSD' %}LICENSE{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.license=='MIT' %}LICENSE{% endif %}
Due: none

fix: message cls crash (#225)
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps

docs: prepare for 2023.07.13
  docs/_includes/interactive_repo_review.html
Due: disallow-caps

chore: include webapp from 0.8.1
  docs/assets/js/webapp.js
Due: disallow-caps

Fix misspelling of Pydantic
  README.md
Due: disallow-caps

Fix misspelling of Pydantic (#226)
  README.md
Due: disallow-caps

[create-pull-request] automated change
  .pre-commit-config.yaml
  docs/pages/guides/gha_wheels.md
  docs/pages/guides/style.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

fix: help text improvements
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/packaging_compiled.md
  helpers/cog_cc.py
  noxfile.py
Due: disallow-caps, cog

fix: help text / choice improvements (#229)
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/packaging_compiled.md
  helpers/cog_cc.py
  noxfile.py
Due: disallow-caps, cog

Update link to lecture notes
  docs/pages/index.md
Due: disallow-caps

docs: update link to lecture notes (#230)
  docs/pages/index.md
Due: disallow-caps

fix: better and more generation, docs job improvement
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/docs.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/tasks.md
  helpers/cog_helpers.py
  noxfile.py
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

fix: minor touchup and maybe allow cogging from 3.10
  docs/pages/guides/tasks.md
  helpers/cog_helpers.py
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps

fix: better and more generation, docs job improvement (#231)
  .pre-commit-config.yaml
  docs/pages/guides/coverage.md
  docs/pages/guides/docs.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/tasks.md
  helpers/cog_helpers.py
  noxfile.py
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

fix: drop extra branches
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
Due: none

fix: include cibuildwheel config
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: remove unneeded pytest ignore
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: simpler usage
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

fix: drop _compat pre-filled module
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/_compat/__init__.py
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/_compat/typing.py
  {{cookiecutter.project_name}}/tests/test_package.py
Due: none

fix: remove unneeded pytest ignore (#235)
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: drop extra branches (#233)
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
Due: none

Update pyproject.toml
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: include cibuildwheel config (#234)
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

fix: drop _compat pre-filled module (#232)
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/_compat/__init__.py
  {{cookiecutter.project_name}}/src/{{cookiecutter.__project_slug}}/_compat/typing.py
  {{cookiecutter.project_name}}/tests/test_package.py
Due: none

fix: support autobuild for quick rebuilds
  docs/pages/guides/docs.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

fix: support autobuild for quick rebuilds (#236)
  docs/pages/guides/docs.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/noxfile.py
Due: disallow-caps, cog

Fix erroneous reference to YAML in packaging.md
  docs/pages/tutorials/packaging.md
Due: disallow-caps

Fix erroneous reference to YAML in packaging.md (#237)
  docs/pages/tutorials/packaging.md
Due: disallow-caps

chore: drop trampolim
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/index.md
  docs/pages/guides/packaging_simple.md
  docs/pages/index.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: disallow-caps, cog

chore: drop trampolim (#238)
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/index.md
  docs/pages/guides/packaging_simple.md
  docs/pages/index.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type!='compiled' %}cd.yml{% endif %}
  {{cookiecutter.project_name}}/noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
Due: disallow-caps, cog

fix: better limits for maturin
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
Due: none

fix: update maturin (#239)
  docs/pages/guides/packaging_compiled.md
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
Due: disallow-caps, cog
