Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, disallow-words, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|Github|PyTest|RST|PyLint

disallow-words:
  name: Disallow certain words
  language: pygrep
  entry: '[Ff]alsey'

cog:
  name: Cog the pages
  language: python
  entry: cog -P -r -I ./helpers
  additional_dependencies:
  - cogapp
  - cookiecutter

fix: add a new md formatter
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

fix: allow poe as task manager (#630)
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps, disallow-words

fix: add a new md formatter (#631)
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
Due: disallow-caps, disallow-words

WIP: reorganizing based on proofreader feedback
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

add outside-in test section
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

docs: Add outline of testing page to principles
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

add outside-in to testing principles
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

update testing.md content
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

fixup: lint
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

change the excluded bot names
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

wrap in quotes to keep it valid json
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

edit the template instead
  {{cookiecutter.project_name}}/.github/release.yml
Due: none

Fix link formatting for GitHub changelog
  docs/pages/guides/gha_basic.md
Due: disallow-caps, disallow-words, cog

Update bot names in changelog exclusions
  .github/release.yml
Due: disallow-caps, disallow-words

fix: change the exclusion pattern for bots (#636)
  .github/release.yml
  docs/pages/guides/gha_basic.md
  {{cookiecutter.project_name}}/.github/release.yml
Due: disallow-caps, disallow-words, cog

docs: Add testing page to principles
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

rewrite edgecase as extensive input testing
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

docs: Add outline of unit testing recommendations (#619)
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

Change sdist build command to use 'uv'
  docs/pages/guides/gha_wheels.md
Due: disallow-caps, disallow-words

Change sdist build command to use 'uv' (#641)
  docs/pages/guides/gha_wheels.md
Due: disallow-caps, disallow-words

fix: warnings were breaking the build
  Gemfile.lock
  _config.yml
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

fix: warnings were breaking the build (#644)
  Gemfile.lock
  _config.yml
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

fix: broken links
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

fix: broken links (#645)
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

fix: typo
  docs/pages/principles/testing.md
Due: disallow-caps, disallow-words

docs: use dependency-groups in more places
  docs/pages/guides/docs.md
Due: disallow-caps, disallow-words, cog

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

docs: use dependency-groups in more places (#647)
  docs/pages/guides/docs.md
Due: disallow-caps, disallow-words, cog

chore: 3.10-3.14 active range
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  README.md
  docs/_includes/pyproject.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
Due: disallow-caps, disallow-words, cog

chore: 3.10-3.14 active range (#652)
  .github/workflows/reusable-cookie.yml
  .github/workflows/reusable-rr-tests.yml
  README.md
  docs/_includes/pyproject.md
  docs/pages/guides/gha_basic.md
  docs/pages/guides/packaging_classic.md
  docs/pages/guides/packaging_compiled.md
  docs/pages/guides/style.md
  docs/pages/guides/tasks.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/pyproject.toml
  {{cookiecutter.project_name}}/{% if cookiecutter.__ci=='gitlab' %}.gitlab-ci.yml{% endif %}
  {{cookiecutter.project_name}}/{% if cookiecutter.backend=='maturin' %}Cargo.toml{% endif %}
Due: disallow-caps, disallow-words, cog

docs: mention uv high level to clarify statement
  docs/_includes/pyproject.md
Due: disallow-caps, disallow-words

chore: add 3.14 classifier
  .github/workflows/reusable-rr-tests.yml
  pyproject.toml
Due: disallow-caps, disallow-words

chore: fix for pylint 4
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps, disallow-words

chore: fix for pylint 4 (#656)
  src/sp_repo_review/checks/mypy.py
  src/sp_repo_review/checks/pyproject.py
  src/sp_repo_review/checks/readthedocs.py
  src/sp_repo_review/checks/ruff.py
Due: disallow-caps, disallow-words

docs: mention uv high level to clarify statement (#654)
  docs/_includes/pyproject.md
Due: disallow-caps, disallow-words

chore: add 3.14 classifier (#655)
  .github/workflows/reusable-rr-tests.yml
  pyproject.toml
Due: disallow-caps, disallow-words

fix: hide the setuptools family when not using it
  src/sp_repo_review/checks/setupcfg.py
Due: disallow-caps, disallow-words

fix: hide the setuptools family when not using it (#657)
  src/sp_repo_review/checks/setupcfg.py
Due: disallow-caps, disallow-words

feat: add noxfile checks
  README.md
  docs/pages/guides/tasks.md
  noxfile.py
  pyproject.toml
  src/sp_repo_review/checks/noxfile.py
  src/sp_repo_review/families.py
  tests/test_noxfile.py
Due: disallow-caps, disallow-words, cog

Path conditions:
  disallow-caps: any of: not ((.pre-commit-config.yaml|docs/pages/guides/style\.md)$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  disallow-words: any of: not (.pre-commit-config.yaml$), but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
  cog: any of: ^docs/pages/guides/(packaging_compiled|docs|tasks|gha_basic).md|^copier.yml, but not: ^({{cookiecutter\.project_name}}|hooks/pre_gen_project.py$)
