Repository scientific-python/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
  autoupdate_schedule: "quarterly"

exclude: "^({{cookiecutter\\.project_name}}|hooks/pre_gen_project.py$)"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.5.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.16.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==23.*]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.9"
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1"
    hooks:
      - id: mypy
        files: "(src|tests)"
        args: []
        additional_dependencies:
          - click
          - markdown-it-py
          - pytest
          - repo-review
          - rich
          - tomli
          - types-PyYAML

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        types_or: [yaml, markdown, html, css, scss, javascript, json]
        args: [--prose-wrap=always]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.2.6"
    hooks:
      - id: codespell
        exclude: ^Gemfile\.lock$
        args: ["-Lnd", "-w"]

  - repo: local
    hooks:
      - id: disallow-caps
        name: Disallow improper capitalization
        language: pygrep
        entry: PyBind|Numpy|Cmake|CCache|Github|PyTest
        exclude: (.pre-commit-config.yaml|docs/pages/guides/style\.md)$
      - id: disallow-bad-permalinks
        name: Disallow _ in permalinks
        language: pygrep
        entry: "^permalink:.*_.*"
      - id: cog
        name: Cog the pages
        language: python
        entry: cog -P -r -I ./helpers
        files: "^docs/pages/guides/(packaging_compiled|docs|tasks).md|^copier.yml"
        additional_dependencies: [cogapp, cookiecutter]

ci: add links to rendered docs (#597)
  .github/workflows/docs-link.yml
Due: disallow-caps

docs: mention recent updates
  README.md
Due: disallow-caps

docs: mention recent updates (#598)
  README.md
Due: disallow-caps

fix: move codespell config to toml
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  pyproject.toml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

Apply ruff/flake8-pyi rule PYI044
  src/sp_repo_review/_version.pyi
Due: disallow-caps

Apply ruff/flake8-pyi rule PYI044 (#604)
  src/sp_repo_review/_version.pyi
Due: disallow-caps

fix: move codespell config to toml (#602)
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  pyproject.toml
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

feat: check for ruff-check instead of ruff
  .pre-commit-config.yaml
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

reword discussion of dependency-groups
  docs/_includes/pyproject.md
Due: disallow-caps

Minor improvements to the depenedency-groups description (#606)
  docs/_includes/pyproject.md
Due: disallow-caps

fix: build commands is a valid alternative to build tools python
  src/sp_repo_review/checks/readthedocs.py
  tests/test_readthedocs.py
Due: disallow-caps

fix: build commands is a valid alternative to build tools python (#608)
  src/sp_repo_review/checks/readthedocs.py
  tests/test_readthedocs.py
Due: disallow-caps

feat: check for ruff-check instead of ruff
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

feat: check for ruff-check instead of ruff (#605)
  .pre-commit-config.yaml
  README.md
  docs/pages/guides/style.md
  src/sp_repo_review/checks/precommit.py
  tests/test_precommit.py
  {{cookiecutter.project_name}}/.pre-commit-config.yaml
Due: disallow-caps

Fix comment about color depth
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: none

ci: check latest on 3.13
  .github/workflows/reusable-cookie.yml
Due: disallow-caps

fix: Python 3.13.4 broken on Windows
  .github/workflows/reusable-cookie.yml
  docs/pages/guides/packaging_compiled.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: disallow-caps, cog

chore: include ARM in CI
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

fix: Python 3.13.4 broken on Windows (#613)
  .github/workflows/reusable-cookie.yml
  docs/pages/guides/packaging_compiled.md
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: disallow-caps, cog

chore: include ARM in CI (#614)
  docs/pages/guides/gha_wheels.md
  {{cookiecutter.project_name}}/.github/workflows/{% if cookiecutter.__type=='compiled' %}cd.yml{% endif %}
Due: disallow-caps

Update {{cookiecutter.project_name}}/.github/workflows/ci.yml
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: none

Fix comment about color depth. (#609)
  {{cookiecutter.project_name}}/.github/workflows/ci.yml
Due: none

feat: add uv backend
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/packaging_simple.md
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, cog

chore: meson and maturin now support SPDX licenses too
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

chore: meson and maturin now support SPDX licenses too (#622)
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

chore: update a test for license change
  noxfile.py
Due: disallow-caps

Apply suggestions from code review
  noxfile.py
Due: disallow-caps

Update noxfile.py
  noxfile.py
Due: disallow-caps

chore: update a test for license change (#623)
  noxfile.py
Due: disallow-caps

Update pyproject.toml
  {{cookiecutter.project_name}}/pyproject.toml
Due: none

fix: one more missing spot
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps

Update README.md
  README.md
Due: disallow-caps

feat: add uv backend (#618)
  .github/workflows/reusable-cookie.yml
  README.md
  cookiecutter.json
  copier.yml
  docs/pages/guides/packaging_simple.md
  noxfile.py
  {{cookiecutter.project_name}}/pyproject.toml
Due: disallow-caps, cog

tests: maturin now should pass metadata check
  noxfile.py
Due: disallow-caps

tests: maturin now should pass metadata check (#625)
  noxfile.py
Due: disallow-caps

add outside-in to testing principles
  docs/pages/principles/testing.md
Due: disallow-caps

Add UV, poetry, pdm, and PyCharm stuff
  {{cookiecutter.project_name}}/.gitignore
Due: none

docs: add some UV, poetry, pdm, and PyCharm stuff to ignore from version control (#628)
  {{cookiecutter.project_name}}/.gitignore
Due: none

fix: allow poe as task manager
  src/sp_repo_review/checks/general.py
  tests/test_general.py
Due: disallow-caps
